.breakpoint-0 {
  margin-left: auto;
  margin-right: auto;
  width: 100%
}
.style0 {
  background-color: #f6f8f9;
  display: flex;
  width: 100%;
  height: 5.005vh;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.desktop1container0row0 {
  display: flex;
  width: 97.222%;
  height: 60%;
  align-items: center
}
.style1,
.style2,
.style3,
.style4,
.style5 {
  font-family: Helvetica,serif;
  font-weight: 700
}
.style1 {
  color: #fa6980;
  font-size: 13px;
  height: 50%
}
.style2,
.style3,
.style4,
.style5 {
  font-size: 11px;
  height: 40%
}
.style2 {
  color: #343638
}
.style3,
.style4,
.style5 {
  color: rgba(52,54,56,.5)
}
.style6 {
  width: 2.142%;
  height: 100%
}